<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.unklegeorge.flippy" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".FlippyMainActivity" android:label="@string/app_name"
			android:launchMode="singleTop" android:theme="@style/noTitle">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".FlippyQueueActivity" android:theme="@style/noTitle"
			android:launchMode="singleTop"/>
		<activity android:name=".FlippySearchActivity" android:theme="@style/noTitle"
			android:launchMode="singleTop"/>
		<activity android:name=".FlippyBrowseActivity" android:theme="@style/noTitle"
			android:launchMode="singleTop"/>
		<activity android:name=".FlippyInfoActivity" android:theme="@style/noTitle"
			android:launchMode="singleTop"/>
		<activity android:name=".FlippySettingsActivity"/>
		<activity android:name=".FlippyAboutActivity"/>

		<service android:name=".FlippyPlayerService" />
	</application>
</manifest>